/* CSS de la page 'Entreprises' */

.entreprises{
    padding: 0 10%;
    .section_titre{
        margin-top: 1%;
        .img-hover-entreprises{
            width: 100%;
            height: 300px;
            background-image: linear-gradient(rgba(1, 95, 143, 0.8)), url(img/img_entreprises.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            .texte-hover{
                width: 90%;
                margin: auto;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: white;
                cursor: context-menu;
                h2{
                    font-size: 2em;
                    font-weight: 400;
                }
                p{
                    font-size: 1.5em;
                    font-weight: 300;
                }
            }
        }
    }
    .section_description{
        margin-bottom: 2%;
        .part01{
            margin-top: 2%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .texte_description{
                width: 45%;
                margin: 0;
                font-size: 1.5em;
                text-align: justify;
                color: #525251;
                cursor: context-menu;
            }
            .modal-grande{
                width: 45%;
                cursor: zoom-in;
                @media (min-width: 1366px){
                    transition: 0.8s ease;
                    &:hover{
                        transition: 0.8s ease;
                        filter: brightness(0.5);
                    }
                }
            }
            .modal{
                z-index: 3;
                display: none;
                padding: 1%;
                position: fixed;
                box-sizing: border-box;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                cursor: zoom-out;
                overflow: auto;
                background-color: rgba(0,0,0,0.8);
                animation: fade 0.8s;
                @keyframes fade{
                    from{
                        opacity: 0.4;
                    }to{
                        opacity: 1;
                    }
                }
                .modal-button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 2em;
                    background-color: white;
                    width: 50px;
                    height: 50px;
                    border-radius: 10px;
                    cursor: context-menu;
                    @media (max-width: 1365.98px){
                        background-color: red;
                        color: white;
                    }
                    @media (min-width: 1366px){
                        transition: 0.8s ease;
                    }
                    &:hover{
                        @media (min-width: 1366px){
                            transition: 0.8s ease;
                            background-color: red;
                            color: white;
                        }
                    }
                }
                .modal-content{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: transparent;
                    border: none;
                    border-radius: 0;
                    img{
                        width: 60%;
                    }
                    h3{
                        font-size: 2em;
                        font-weight: 300;
                        color: white;
                        margin: 1% 0;
                    }
                }
            }
        }
    }
}