/* CSS du footer */

footer{
    background-color: #F5F4EF;
    font-family: 'Open Sans', sans-serif;
    width: 100%;

    /* Copyrights et mentions légales */

    .align-pdp{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 1365.98px){
            flex-direction: column;
        }
        p{
            width: 33.3%;
            margin: 0;
            padding: 1.5% 0%;
            text-align: center;
            font-weight: 400;
            font-size: 1em;
            color: #525251;
            cursor: context-menu;
            @media (max-width: 1365.98px){
                width: 100%;
            }
            a{
                color: #525251;
                text-decoration: none;
            }
        }
    }

    /* CSS pour le bandeau plan du site */

    .siteMap{
        margin: 0;
        text-align: center;
        line-height: 1;
        font-weight: bold;
        font-size: 1.33em;
        .siteMapLink{
            color: #525251;
            text-decoration: none;
            font-size: 0.6em;
            font-weight: 400;
        }
    }
}