/* CSS du header */

body{
    background-color: #E8E8E8;
    margin: 0;
    header{
        background-color: #F5F4EF;
        padding: 1% 0%;
        font-family: 'Open Sans', sans-serif;
        box-shadow: 0px 3px 5px #000;

        /* Disposition du header */
        
        .nav-container{
            width: 80%;
            margin: auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            @media (max-width: 767.98px){
                flex-direction: column;
            }
            @media (min-width: 768px) AND (max-width: 1365.98px){
                align-items: start;
            }
            h1{
                margin: 0;
                width: 15%;
                @media (max-width: 767.98px){
                    width: 50%;
                }
                @media (min-width: 768px) AND (max-width: 1365.98px){
                    width: 35%;
                }
                a{
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            /* Ajustement de la barre de navigation */

            .menu{
                width: 75%;
                display: flex;
                align-items: center;
                @media (max-width: 767.98px){
                    flex-direction: column;
                    width: 80%;
                }
                @media (min-width: 768px) AND (max-width: 1365.98px){
                    flex-direction: column;
                    align-items: end;
                    width: 65%;
                    padding-top: 2%;
                }
                #navbar{
                    width: 75%;
                    display: flex;
                    flex-direction: column;
                    @media (max-width: 767.98px){
                        margin: 1em 0;
                    }
                    @media (max-width: 991.98px){
                        align-items: center;
                    }
                    @media (min-width: 992px) AND (max-width: 1365.98px){
                        align-items: end;
                    }
                    @media (max-width: 1365.98px){
                        padding: 2% 7.5%;
                    }
                    label, #toggle{
                        display: none;
                    }
                    label{
                        color: #0C5A94;
                        @media (max-width: 1365.98px){
                            display: flex;
                            align-items: center;
                            font-size: 40px;
                            cursor: pointer;
                        }
                    }
                    #toggle:checked + ul{
                        @media (min-width: 992px) AND (max-width: 1365.98px){
                            justify-content: end;
                        }
                        @media (max-width: 1365.98px){
                            display: flex;
                        }
                    }

                    /* Menu principal du site */

                    .primary-nav{
                        width: 100%;
                        margin: auto;
                        padding: 0;
                        display: flex;
                        justify-content: space-between;
                        @media (max-width: 991.98px){
                            flex-direction: column;
                            align-items: center;
                        }
                        @media (min-width: 992px) AND (max-width: 1365.98px){
                            padding-top: 25%;
                        }
                        @media (max-width: 1365.98px){
                            display: none;
                            margin: 2% auto;
                        }
                        .item{
                            list-style: none;
                            width: 20%;
                            margin: 0 2%;
                            text-align: center;
                            @media (min-width: 992px) AND (max-width: 1365.98px){
                                padding: 0 18%;
                            }
                            a{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                                height: 75px;
                                margin: auto;
                                text-decoration: none;
                                text-transform: uppercase;
                                font-weight: 600;
                                font-size: 1em;
                                color: #525251;
                                transition: .3s ease;
                                @media (max-width: 1365.98px){
                                    transition: none;
                                }
                                &:hover{
                                    transition: .3s ease;
                                    background-color: #0C5A94;
                                    color: white;
                                    border-radius: 30px;
                                    box-shadow: 0px 10px 7px rgba($color: #000000, $alpha: 0.5);
                                    @media (max-width: 1365.98px){
                                        transition: none;
                                        background-color: transparent;
                                        color: #525251;
                                        box-shadow: none;
                                    }
                                }
                            }

                            /* Onglets du menu principal */

                            .sub-menu{
                                display: block;
                                padding: 0;
                                @media (min-width: 1366px){
                                    display: none;
                                    width: 7.2%;
                                    position: absolute;
                                    z-index: 999;
                                }
                                .sous-menu{
                                    width: 100%;
                                    margin: 0;
                                    position: relative;
                                    z-index: 999;
                                    a{
                                        background-color: #F5F4EF;
                                        color: #525251;
                                        border-radius: 0;
                                        &:hover{
                                            background-color: #015F8F;
                                            color: white;
                                            @media (max-width: 1365.98px){
                                                background-color: #F5F4EF;
                                                color: #525251;
                                            }
                                        }
                                    }
                                }
                            }
                            &:hover{
                                .sub-menu{
                                    @media (min-width: 1366px){
                                        display: block;
                                        animation: transition .5s ease;
                                    }
                                    @keyframes transition{
                                        from{
                                            transform: translateY(20px);
                                            opacity: 0.4;
                                            z-index: 999;
                                        }to{
                                            transform: translateY(0px);
                                            opacity: 1;
                                            z-index: 999;
                                        }
                                    }
                                }
                            }
                        }
                        .current_page_item{
                            a{
                                @media (min-width: 1366px){
                                    background-color: #C13030;
                                    color: white;
                                    border-radius: 30px;
                                    box-shadow: 0px 10px 7px rgba($color: #000000, $alpha: 0.5);
                                    &:hover{
                                        background-color: #0C5A94;
                                    }
                                }
                            }
                        }
                    }
                }

                /* Liens du site AGER */

                #links{
                    width: 25%;
                    display: flex;
                    align-items: center;
                    @media (max-width: 767.98px){
                        flex-direction: column;
                    }
                    @media (min-width: 768px) AND (max-width: 1365.98px){
                        margin: 1rem 0;
                    }
                    @media (max-width: 1365.98px){
                        width: 75%;
                    }

                    /* Ajustmement au niveau du bouton de recherche */

                    /* Recherche mobile */

                    .nav-search-mobile{
                        text-align: center;
                        position: relative;
                        @media (max-width: 767.98px){
                            width: 100%;
                            margin: 1em 0;
                        }
                        @media (min-width: 768px) AND (max-width: 1365.98px){
                            width: 25%;
                        }
                        @media (min-width: 1366px){
                            display: none;
                        }
                        .search-mobile{
                            #search-btn-mobile{
                                background: transparent;
                                border: 0;
                                color: #525251;
                                font-size: 1.25em;
                            }
                            .search{
                                display: none;
                            }
                            .search-form{
                                position: absolute;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                width: 100%;
                                .toggle-search{
                                    position: relative;
                                    display: block;
                                    z-index: 999;
                                    outline: none;
                                    padding-left: 10px;
                                    border: 1px solid #525251;
                                    border-radius: 20px;

                                    /* CSS pour mobile */

                                    @media (max-width: 374.98px){
                                        top: 5px;
                                    }
                                    @media (min-width: 375px) AND (max-width: 767.98px){
                                        top: 10px;
                                    }

                                    /* CSS pour petite tablette */

                                    @media (min-width: 768px) AND (max-width: 991.98px){
                                        top: 12.5px;
                                    }

                                    /* CSS pour notebook */

                                    @media (min-width: 992px) AND (max-width: 1365.98px){
                                        top: 17.5px;
                                    }
                                }
                            }
                        }
                    }

                    /* Recherche bureau */

                    .nav-search-desktop{
                        text-align: center;
                        position: relative;
                        width: 16%;
                        @media (max-width: 1365.98px){
                            display: none;
                        }
                        .search-desktop{
                            #search-btn-desktop{
                                background: transparent;
                                border: 0;
                                color: #525251;
                                font-size: 1.25em;
                                &:hover{
                                    color: #C13030;
                                    @media (max-width: 1365.98px){
                                        color: #525251;
                                    }
                                }
                            }
                            .search{
                                display: none;
                            }
                            .search-form{
                                position: absolute;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                width: 100%;
                                .toggle-search{
                                    position: relative;
                                    display: block;
                                    top: 45px;
                                    z-index: 999;
                                    outline: none;
                                    padding-left: 10px;
                                    border: 1px solid #525251;
                                    border-radius: 20px;
                                    @media (min-width: 1366px) AND (max-width: 1499.98px){
                                        top: 25px;
                                    }
                                    @media (min-width: 1500px) AND (max-width: 1635.98px){
                                        top: 30px;
                                    }
                                }
                            }
                        }
                    }

                    /* Ajustement au niveau du N° de Téléphone */

                    .phone{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0;
                        width: 72%;
                        gap: 10px;
                        @media (max-width: 767.98px){
                            width: 100%;
                            margin: 1em 0;
                        }
                        @media (min-width: 768px) AND (max-width: 1365.98px){
                            width: 50%;
                        }
                        .fa-phone{
                            color: #C13030;
                        }
                        .phone-number{
                            text-align: center;
                            text-decoration: none;
                            color: #525251;
                            font-weight: 600;
                            font-size: 1em;
                            transition: 0.8s ease;
                            @media (max-width: 1365.98px){
                                transition: none;
                            }
                            &:hover{
                                transition: 0.8s ease;
                                color: #0C5A94;
                                @media (max-width: 1365.98px){
                                    transition: none;
                                    color: #525251;
                                }
                            }
                        }
                    }

                    /* Ajustement au niveau des liens de réseaux sociaux */

                    .rs{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 12%;
                        text-align: center;
                        @media (max-width: 767.98px){
                            width: 100%;
                            margin: 1em 0;
                        }
                        @media (min-width: 768px) AND (max-width: 1365.98px){
                            width: 25%;
                        }
                        .rs-link{
                            text-decoration: none;
                            color: #C13030;
                            font-size: 1.5em;
                            transition: 0.8s ease;
                            @media (max-width: 1365.98px){
                                transition: none;
                            }
                            &:hover{
                                transition: 0.8s ease;
                                color: #0C5A94;
                                @media (max-width: 1365.98px){
                                    transition: none;
                                    color: #C13030;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}