/* CSS de single-activites */

.single-activite{

    /* Titre du domaine d'activité */

    h2{
        text-align: center;
    }
    a{
        display: flex;
        justify-content: center;
    }
}